.ProductCart:hover{
    background-color: rgb(246, 246, 246);
}
.ProductCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin: 15px auto;
    border-bottom: 1px solid #fcb100;;
}
.ProductCart .Name{
    font-size: 20px;
    font-weight: 400;
}
.Img img{
    width: 150px;
}
.CalTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.CalTop input{
    width: 50px;
    height: 24px;
    text-align: center;
    margin: 0 5px;
}

.CalTop input::-webkit-outer-spin-button,
.CalTop input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.CalTop input[type=number] {
    -moz-appearance: textfield;
}


.CalDecr, .CalIncre{
    height: 30px;
    width: 30px;
}